bitsandbytes
dadaptation
diffusers
xformers
torchvision
accelerate
transformers
sentencepiece
lion_pytorch
lpips
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
prodigyopt
pydantic
PyYAML
Requests
safetensors
torch
tqdm
wandb
datasets
ftfy
openai
scikit-learn
git+https://github.com/davidbau/baukit
anthropic
peft